<!DOCTYPE html>
<html>
<head>
    <title>Borrow Book</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Borrow Book</h1>
        <h1>{{ book.title }}</h1>
        <form method="post">
            <label for="fullname">Fullname:</label>
            <input type="text" id="fullname" name="fullname">
            <label for="stud_id">ID:</label>
            <input type="text" pattern= "[0-9]+"id="stud_id" name="stud_id">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>